@import "../variables/colors";

.checklist {
  color: $main-color;

  width: 30%;
  padding: 0;
  margin-left: 35%;
  list-style-type: none;
  font-size: 3rem;
  &-item {
    margin-top: 2rem;
  }
  .fa-times {
    color: red;
  }
  .fa-check {
    color: green;
  }

  .fa-exclamation-triangle {
    color: orange;
  }
}

.checkpoint {
  float: right;
}
