@import "../button/button";
@import "../variables/colors";

.hero {
  width: 100%;
  height: 50%;
  text-align: center;
  position: relative;
  .apply {
    position: absolute;
    bottom: 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid $main-color;
    color: $main-color;
    text-decoration: none;
  }
}

.blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
