@import "../variables/colors";

.userlist {
  padding: 0;
  list-style-type: none;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  li {
    padding: 2rem;
    border: 1px solid $main-color;
    color: $main-color;
    border-radius: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
    transition: color 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      border-color: $main-color-dark;
      color: $main-color-dark;
    }
  }
}

.userform {
  width: 50%;
  margin-left: 25%;
  color: $main-color-dark;
  label {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  input[type="text"] {

    display: block;
    width: 100%;
    font-size: 2.5rem;
    color: $main-color-dark;
    border:0;
    border-bottom: 1px solid $main-color-dark;
  }
}
